
    <!-- <br> -->
    <div style="text-align: center;">
      
<img class="footer-image" src="./images/logo.png" alt="footer image" style="margin-bottom: 5px;"> <p>New England Trail Runners</p>
    </div>
    
    <div class="container-fluid" style="text-align: center;">
      <div class="row">
        <div class="col-sm-12">
         
          <a href="" style="padding-right: 20px"><i class="fa fa-envelope fa-lg"></i></a> 
          <a href=""><i class="fab fa-linkedin fa-lg"></i></a>

      </div>
    </div>
    
   </body>