<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>New England Trail Runners</title>
  <meta name="description" content="Andrew Fongemie's website">
  <meta name="author" content="Andrew Fongemie">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="HTML, CSS, JavaScript">

 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
 <link rel="stylesheet" href="./CSS/blog_styles.css">
 
 <link rel="icon" href="./images/logo.png" sizes="32x32" type="image/png">

   <!-- Font Awesome -->
   <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

   <!-- Bootstrap Scripts -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>

<body>

  <!-- Title Section -->
  <section id="title">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md navbar-light ">
     
        <a class="navbar-brand" style="color: midnightblue;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link" style="color: midnightblue;" href="/">Home</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: midnightblue;" href="/journal">Club History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: midnightblue;" href="/journal">Club News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: midnightblue;" href="/runmappop">Why We Run</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: midnightblue;" href="/runmappop">Club Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: midnightblue;" href="/runmappop">Join Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: midnightblue;" href="/login">Sign In</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

  </section>
  