<%- include("./partials/header_rev2") -%>

<section id="home">

    <div>
        <div>

          <picture>
            <source srcset="./images/NE_Trail_Runners.png" media="(max-width: 700px)">
            <source srcset="./images/NE_Trail_Runners.png">
            <img class="main-image" src="./images/NE_Trail_Runners.png" alt="Home" style="width:70%;">
          </picture>
        
        </div>
        <div> 
          <h2 class="about-me">About Us</h2>
          <p class="site-description">
            Welcome to the home of the New England Trail Runners. We are the largest trail and ultrarunning club in the Northeast United States, with our home on the trails of New England and membership from all around the world. We are an all-volunteer organization that plays host to free group runs and low-cost races, offering distances from 5K to 100 miles and beyond. We welcome runners of all abilities. 
          </p>
        </div>        
      </div>
</section>


<%- include("./partials/footer") -%>




